*.class

# netbeans #
private.properties
IRIGui/nbproject/private

# Package Files #
IRIGui.jar
*.war
*.ear
/IRIGui/dist/
IRIGui/src/Operations/tabbedPaneThreader.java
/IRIGui_1/nbproject/private/
/IRIGui_1/build/